<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kemmer.df-mathematik-der-macht-writer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/make/Projects/dark-factories/df-mathematik-der-macht-writer/scripts/run-df-mathematik-der-macht-writer-mac.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>22</integer>
        <key>Minute</key><integer>30</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/make/.df-state/df-mathematik-der-macht-writer.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/make/.df-state/df-mathematik-der-macht-writer.err</string>
</dict>
</plist>
